*{
    background-color: rgb(178, 195, 214);
    margin: 0;
    padding: 9px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.Main-heading{
  color: black;
  background-color: white;
  height: 60px;
  margin-bottom: 12px;
}
.one{
    background-color: rgb(3, 18, 151);
}
.two{
    background-color: rgb(21, 32, 194);
}
.three{
    background-color:  rgb(59, 71, 248);
}
.four{
    background-color:rgb(90, 93, 247);
}
.five{
    background-color: rgb(96, 106, 240);
}
.six{
    background-color: rgb(132, 130, 231);
}
.seven{
  background-color: rgb(146, 146, 247);
}
.eight{
    background-color:  rgb(0, 128, 53);
}
.nine{
    background-color: rgb(243, 137, 211);
}
.ten{
    background-color: rgb(228, 114, 190);
}
.eleven{
    background-color: rgb(241, 108, 170);
}
.twelve{
    background-color: rgb(216, 47, 131);
}
.thirteen{
    background-color: rgb(221, 67, 131);
}
.fouteen{
    background-color: rgb(209, 39, 110);
}
.fivteen{
    background-color: rgb(245, 6, 105);
}